*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, body{
  height: 100%;
  width: 100%;
}
.parent{
  height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 20px;

 
  
}
.card{
  height: 400px;
  width: 300px;
  background: #fff;
   border-radius: 30px;
}